<div class="trip_details">
<h1><%= @trip.name %></h1>
<p>Date: <%= @trip.start_date.strftime('%B %d, %Y') %></p>
<p>Description: <%= @trip.description %></p>
<p>Zone 'insert name here' | ID:<%= @trip.zone_id %></p>
<p><%= link_to "Edit #{@trip.name}", edit_users_trip_path(@trip.id) %></p>
</div>



<br>
<hr>

<h3>Other Up Coming Trips</h3>
<%= render 'shared/upcoming_trips' %>
