<h1><%= @user.name %>'s Profile</h1>
<br>

<div class="zone">
<center><h2>Favorite Zone</h2>
<%= form_with url: users_path, method: :patch, local: true  do |form| %>
  <%= form.hidden_field :id, value: @user.id %>
  <%= form.label :favorite_zone %>
  <%= form.select :favorite_zone, options_for_select(avalanche_zones, @user.favorite_zone) %>
  <%= form.submit "Update"%>
<% end %>
</center></div>
<br>


<center class="contacts">
<h2>Emergency Contacts</h2>
<table align="center" class="table table-sm table-striped  ml-4"style="max-width: 40rem;">
  <thead>
    <tr>
      <stong><th>Name</th>
      <th>Phone Number</th></strong>
    </tr>
  </thead>
  <tbody>
    <% @emergency_contacts.each do |contact| %>
      <tr id="one_contact-<%= contact.id%>">
        <td><%= contact.name %></td>
        <td><%= contact.phone_number %></td>
        <td><%= button_to "Edit", edit_users_emergency_contact_path(contact.id), method: :get %></td>
        <td><%= button_to "Delete", users_emergency_contact_path(@user.id), params: { contact_id: contact.id }, method: :delete %></td>
      </tr>
    <% end  %>
  </tbody>
</table>
  <%= button_to 'Add an Emergency Contact' %>
  </center>