<h1> <%= @user.name %>'s Dashboard</h1>
<p> Favorite zone: <%= @user.favorite_zone %>

<div class="container">
  Upcoming Trips:
  <% @trips.each do |trip| %>
    <p><%= trip.name %>
    <%= trip.start_date %>
    <%= trip.end_date %></p>
  <% end %>
</div>
