<div class="area_information rounded-2 card-bg px-3">
  <h3><%= "Details for #{@area.name}" %></h3>

    <p>Today's Avalanche Risk: <%= @area.current_av_risk_string %></p>
    <p>Forecast expires: <%= @area.end_date %></p> <%# make this smaller font than forecast risk%>
    <p>Travel advice: <%= @area.description %></p>
    <a href="<%= @area.url %>">Check the NWAC forecast</a>
    <div>
      <% i = 0 %>
      <ul><% @area.av_forecast_string.each do |day| %>
        <li>Avalanche forecast for  <%= "#{(Date.today + i).strftime("%A")}: #{day}" %>
              <% i += 1 %>
      <% end %></ul>
    </div>
</div>



