Planning on visiting <%= @area.name %>? Check out some deets

<%= @area.current_av_risk %>
<%= @area.state %>
<%= @area.description %>
<%= @area.url %>
<%= @area.av_danger %>

<div>
  <%= render '/shared/area_detailed'  %>
</div>