<!DOCTYPE html>
<html>
  <head>
    <title>FlakesOfWrathFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <div id="nav_bar">
      <%= link_to 'Resources'%>
      <% if logged_in? %> 
        <%= link_to 'Home', users_path%>
        <%= link_to 'Edit Profile'%>
        <%= link_to 'Log Off'%>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
