<!DOCTYPE html>
<html>
  <head>
    <title>FlakesOfWrathFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
  <div id="nav_bar">
    <%= link_to 'Home', users_path%>
    <%= link_to 'Resources', resources_path%>
    <%= link_to 'Edit Profile', edit_users_path%>
    <%= link_to 'Log Off', users_path%>
  </div>
    <%= yield %>
  </body>
</html>
